@model BlogCore.Models.ViewModels.ArticleVM

@{
	ViewData["Title"] = "Editar artículo";
}

<h3 class="text-center mt-3">Editar artículo</h3>
<hr />
<div class="container">
	<form method="POST" asp-action="Edit" enctype="multipart/form-data">
		<input type="hidden" asp-for="Article.Id" />
		<div class="row px-2">
			<div class="col-8">
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="Article.Title" class="control-label"></label>
					<input asp-for="Article.Title" class="form-control" />
					<span asp-validation-for="Article.Title" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Article.Description" class="control-label"></label>
					<textarea asp-for="Article.Description" class="form-control" style="height: 300px">
					</textarea>
					<span asp-validation-for="Article.Description" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label for="Categoría" class="control-label">Categoría</label>
					<div>
						@Html.DropDownListFor(m => m.Article.CategoryId, Model.CategoriesList,
															"-Seleccionar", new { @class = "form-control" })
						<span asp-validation-for="Article.CategoryId" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="Article.UrlImage" class="control-label">Imagen</label>
					<input type="file" name="files" id="uploadFiles" class="form-control" />
					<span asp-validation-for="Article.UrlImage" class="text-danger"></span>
				</div>
				<div class="form-group mt-2">
					<partial name="_CreateBackView" />
				</div>
			</div>
			<div class="col-4">
				<img src="@Model.Article.UrlImage" class="img-fluid shadow" style="border-radius:5px; border:1px solid #bbb9b9;" />
			</div>
		</div>
	</form>

	@section Scripts {
		@{
			<partial name="_ValidationScriptsPartial" />
		}

		<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/7.5.1/tinymce.min.js" integrity="sha512-8+JNyduy8cg+AUuQiuxKD2W7277rkqjlmEE/Po60jKpCXzc+EYwyVB8o3CnlTGf98+ElVPaOBWyme/8jJqseMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script>
			tinymce.init({
				selector: 'textarea',
				plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
				menubar: 'file edit view insert format tools table help',
			})
		</script>
	}
