<div class="row">
	<div class="col-6">
		<button type="submit" class="btn btn-success form-control border-2 border-success">Guardar</button>
	</div>
	<div class="col-6">
		<a asp-action="Index" class="btn btn-outline-primary form-control">Volver</a>
	</div>
</div>