@model BlogCore.Models.Slider

@{
	ViewData["Title"] = "Editar slider";
}

<h3 class="text-center mt-3">Editar slider</h3>
<hr />
<div class="container">
	<form method="POST" asp-action="Edit" enctype="multipart/form-data">
		<input type="hidden" asp-for="Id" />
		<div class="row px-2">
			<div class="col-8">
				<div asp-validation-summary="All" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="Name" class="control-label"></label>
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<div class="form-group my-3">
					<label asp-for="Status" class="control-label"></label>
					<input type="checkbox" asp-for="Status" class="form-check-input" />
					<span asp-validation-for="Status" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="UrlImage" class="control-label">Imagen</label>
					<input type="file" name="files" id="uploadFiles" class="form-control" />
					<span asp-validation-for="UrlImage" class="text-danger"></span>
				</div>
				<div class="form-group mt-2">
					<partial name="_CreateBackView" />
				</div>
			</div>
			<div class="col-4">
				<img src="@Model.UrlImage" class="img-fluid shadow" style="border-radius:5px; border:1px solid #bbb9b9;" />
			</div>
		</div>
	</form>

	@section Scripts {
		@{
			<partial name="_ValidationScriptsPartial" />
		}
	}
